
<form role="form"  ng-submit="processForm();">
  <div class="form-group" >
   <br> 
   <input id="subject" focus="true" ng-model="subject" class="form-control subject" type="text" placeholder="Enter your thought"  focus required>

  </div>
  <div class="form-group">
    
    <em><div ng-click="toggleisare();" class="isare"> {{isaretoggle}} </div></em><br>
    <input id="thenot" ng-model="thenot" class="form-control adjective" type="text" placeholder="What?" required>
     
    <h3><button id="btn-click" type="submit" class="btn btn-default">Next&nbsp;<span class="glyphicon glyphicon-hand-right"></span></button></h3>
</form>


    <!-- random word generator <span class="GetRandomWord" ng-click="GetRandomWord();"><span class="glyphicon glyphicon-flash"></span></span> -->
  